<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome, Super Admin!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Hello World!</h1>
  <ion-list>
    <ion-item *ngFor="let item of jsonData">
      <ion-label>First Name: {{ item.firstName }}</ion-label>
      <ion-label>Last Name: {{ item.lastName }}</ion-label>
      <ion-label>Account Number: {{ item.accountNumber }}</ion-label>
      <ion-label>Username: {{ item.userName }}</ion-label>
      <ion-label>Password: {{ item.password }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
