<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome, Super Admin!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class = "cooperative-name">Batangas II Electric Cooperative, Inc</h1>
  <div class="container">
    <div class="row">
      <div class="column-left">
        <h3 class="heading">Click on a consumer to display its information.</h3>
        <br><br>
        <label class="firstname-left" for="firstName">First Name:</label><br>
        <input class="inputText" type="text" id="firstName" name="firstName"><br><br>

        <label class="lastname-left" for="lastName">Last Name:</label><br>
        <input class="inputText" type="text" id="lastName" name="lastName"><br><br>

        <label class="accountnumber-left" for="accountNumber">Account Number:</label><br>
        <input class="inputText" type="text" id="accountNumber" name="accountNumber"><br><br>

        <label class="username-left" for="username">Username:</label><br>
        <input class="inputText" type="text" id="username" name="username"><br><br>

        <label class="password-left" for="password">Password:</label><br>
        <input class="inputText" type="password" id="password" name="password"><br><br>

        <button class="updateButton" (click)="updateConsumerData(consumers)">Update</button>

      </div>

      <div class="column-right">
        <ion-img class="photo-about" src="assets/photo-about.jpg" alt="photo-about"></ion-img>
      </div>
    </div>
  </div>
        <h1 class="info">Consumers Information</h1>
        <ion-searchbar (ionChange)="searchItems($event.detail.value)"></ion-searchbar>
        <ion-list>
          <ion-item *ngFor="let consumer of filteredConsumers" (click) = "populateFields(consumer)">
            <ion-label class="entity">First Name:</ion-label>
            <ion-label class="consumer-data" id = "firstName">{{ consumer.firstName }}</ion-label>

            <ion-label class="entity">Last Name:</ion-label>
            <ion-label class="consumer-data" id = "lastName">{{ consumer.lastName }}</ion-label>

            <ion-label class="entity">Account Number:</ion-label>
            <ion-label class="consumer-data" id = "accountNumber">{{ consumer.accountNumber }}</ion-label>

            <ion-label class="entity">Username:</ion-label>
            <ion-label class="consumer-data" id = "username">{{ consumer.username }}</ion-label>

            <ion-label class="entity">Password:</ion-label>
            <ion-label class="consumer-data" id="password">{{ maskPassword(consumer.password) }}</ion-label>
          </ion-item>
        </ion-list>
    <br>
  <ion-button [routerLink]="['/superadmin-payment-module']" shape="round" expand="block" color="success">Payment Module</ion-button>
  <br>
</ion-content>