<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome, Super Admin!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="info">Consumers Information</h1>
  <ion-searchbar (ionChange)="searchItems($event.detail.value)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let consumer of filteredConsumers">

      <ion-label class="entity">First Name:</ion-label>
      <ion-label class="consumer-data">{{ consumer.firstName }}</ion-label>

      <ion-label class="entity">Last Name:</ion-label>
      <ion-label class="consumer-data">{{ consumer.lastName }}</ion-label>

      <ion-label class="entity">Account Number:</ion-label>
      <ion-label class="consumer-data">{{ consumer.accountNumber }}</ion-label>

      <ion-label class="entity">Username:</ion-label>
      <ion-label class="consumer-data">{{ consumer.username }}</ion-label>

      <ion-label class="entity">Password:</ion-label>
      <ion-label class="consumer-data">{{ consumer.password }}</ion-label>

    </ion-item>
  </ion-list>

  <br>
  <ion-button [routerLink]="['/superadmin-payment-module']" expand="block" color="success">
    Payment Module
  </ion-button>
  <br>
</ion-content>
