<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Registration Form -->
<ion-content>
  <form (ngSubmit)="submitForm(registerForm)" #registerForm="ngForm">
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" ngModel name="firstName" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" ngModel name="lastName" required ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Account Number</ion-label>
      <ion-input type="number" ngModel name="accountNumber" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" ngModel name="username" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" ngModel name="password" required></ion-input>
    </ion-item>

<!-- Shows the error when the user haven't inputted everything in the fields -->
    <div class = "fill-fields" *ngIf="isFormSubmitted && registerForm.invalid">
      <p>Please fill in all the required fields.</p>
    </div>

<!-- Button -->
    <ion-row>
      <ion-col>
        <ion-button (click)="submitForm(registerForm)" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
