<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Registration Form -->
<ion-content>
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" [(ngModel)] = "firstName" name="firstName" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" [(ngModel)] = "lastName" name="lastName" required ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Account Number</ion-label>
      <ion-input type="number" [(ngModel)] = "accountNumber" name="accountNumber" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Area Number</ion-label>
      <ion-input type="number" [(ngModel)] = "areaNumber" name="areaNumber" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Municipality</ion-label>
      <ion-input type="text" [(ngModel)] = "municipality" name = "municipality" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)] = "username" name="username" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)] = "password" name="password" required></ion-input>
    </ion-item>

<!-- Button -->
    <ion-row>
      <ion-col>
        <ion-button shape = "round" expand = "block" type = "submit" color = "danger" (click) = "submitForm()">Sign Up</ion-button>
      </ion-col>
    </ion-row>
</ion-content>
