* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Oswald';
}

.avatar-container {
  margin-left: 20px;
}

ion-title {
  color: #bfa721;
  padding: 20px;
}

ion-toolbar {
  --background: #fffde6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-content {
  --ion-background-color: #f5e6ff;
  --ion-grid-padding: 20px;
}

ion-button {
  margin-right: 30px;
  color: #7b42f5;
}

.get-started {
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  font-size: 40px;
  color: #a08b15;
  display: flex;
  justify-content: center;
  line-height: 1.3;
  letter-spacing: 0.5px;
}

.responsive-image {
    max-width: 30%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: relative;
    z-index: 1;
}

.background-image {
  position: relative;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/photo-superadmin.jpg');
  background-size: cover; 
  background-position: center;
  opacity: 0.3;
}

@media (max-width: 828px) {
  ion-buttons[slot='end'] {
    order: 2;
  }

  ion-buttons[slot='start'] {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-title {
    order: 1;
    text-align: center;
    flex-grow: 1;
  }

  .menu-toggle-button {
    display: none;
  }

  .hide-sm {
    display: none;
  }

  .about-button {
    font-size: 15px;
    margin-left: 250px;
  }

  h1 {
    font-size: 20px;
    color: #a08b15;
    display: flex;
    justify-content: center;
    line-height: 1.3;
    letter-spacing: 0.5px;
  }
}


