<ion-header> 
  <ion-toolbar>
    <ion-title>
      Welcome, Consumers!
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <h1>BATELEC II</h1>
        <h2>Batangas II Electric Cooperative, Inc.</h2>
      <ion-img
        src="assets/batelec-logo.png"
        alt="batelec-logo"
      ></ion-img> 
        <ion-button [routerLink]="['/home']" expand="block" color="danger">Get Started</ion-button><br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>