* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Oswald';
}

ion-title {
  color: #fff000;
  padding: 20px;
}

.ion-avatar img {
  margin-left: 20px;
}
ion-content {
  --ion-background-color: #f7c7c3;
  --ion-grid-padding: 20px;
}

ion-toolbar {
  --background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

ion-button {
  margin-right: 30px;
  color: #7b42f5;
}

h1 {
    color: #ffdf00;
    text-align: center;
  }

  @media (max-width: 767px) {
    ion-buttons[slot='end'] {
      display: none;
    }
    
    ion-buttons[slot='start'] {
      order: 2;
    }
    
    ion-title {
      order: 1;
      text-align: center;
      flex-grow: 1;
    }
    
    .menu-toggle-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #000;
      font-size: 20px;
      cursor: pointer;
    }
  }
