<ion-header> 
  <ion-toolbar>
    <div slot="start" class="menu-toggle-button" *ngIf="isMinimized">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </div>
    <ion-title>
      BATELEC II
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-button>
    ABOUT
    </ion-button>
    <ion-button>
    SIGN UP
  </ion-button>
  <ion-button>
    LOGIN
  </ion-button>
  <ion-avatar>
    <img src="assets/batelec-logo.png" alt="Logo">
  </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <h2>Batangas II Electric Cooperative, Inc.</h2>
      <ion-img
        src="assets/batelec-logo.png"
        alt="batelec-logo"
      ></ion-img> 
        <ion-button [routerLink]="['/home']" expand="block" color="danger">Get Started</ion-button><br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>