<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="menu-toggle-button" *ngIf="isMinimized">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </div>
      <div class="avatar-container">
      <ion-avatar>
        <img src="assets/batelec-logo.png" alt="logo">
      </ion-avatar>
      </div>
      <ion-title>
        BATELEC II
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/about']" expand="block">
        ABOUT 
      </ion-button>
      <ion-button [routerLink]="['/registration']" expand="block">
        SIGN UP
      </ion-button>
      <ion-button [routerLink]="['/login']" expand="block">
        LOGIN
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <br><h1>Batangas II Electric Cooperative, Inc.</h1><br>
      <ion-img class = "responsive-image"
        src="assets/batelec-logo.png"
        alt="batelec-image"
        width = "400"
        height = "500"
      ></ion-img> 
        <br><br><ion-button class = "get-started" [routerLink]="['/home']" shape = "round" expand="block" color="danger">Get Started</ion-button><br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>