<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>BATELEC II</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <p class = "description"> The Batangas II Electric Cooperative, Inc.(BATELEC II), is one of the two (2) Electric Cooperatives that 
      distribute electricity to Batangas province with its principal office at Antipolo del Norte, Lipa City. 
      It was organized and duly  registered with the National Electrification Administration(NEA) on Aug 12, 1977.</p>
      <ion-img class = "photo-about" src="assets/photo-about.jpg" alt="photo-about"></ion-img> 
      <div class = "contact-links">
      <p>Contact Us:</p>
      <a href = "https://www.facebook.com/BATELEC2Official">Batangas II Electric Cooperative, Inc</a>
      <a href = "https://www.facebook.com/Batelec2AreaI">Batangas II - Area I</a>
      <a href = "https://www.facebook.com/Batelec2AreaII">Batangas II - Area II</a>
      <a href = "https://www.facebook.com/Batelec2AreaIII">Batangas II - Area III</a>
      </div>
  </ion-header>
</ion-content>
