<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bill Summary</ion-title>
    <ion-buttons slot="end">
      <ion-button class = "logout" (click)="confirmLogout()">
        Log Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="cooperative-name">Batangas II Electric Cooperative, Inc</h1>
  <div class="container">
    <div class="row">
      <div class="column-left">
        <h3 class="heading">Click on a consumer to display its information.</h3>
        <br><br>
        
        <label class="consumerid-left" for="ConsumerID">Consumer ID:</label><br>
        <input class="inputText" placeholder="Enter Consumer ID" type="text" [(ngModel)]="ConsumerID" id="ConsumerID" name="ConsumerID"><br><br>

        <label class="firstname-left" for="firstName">First Name:</label><br>
        <input class="inputText" placeholder="Enter First name" type="text" [(ngModel)]="firstName" id="firstName" name="firstName"><br><br>

        <label class="lastname-left" for="lastName">Last Name:</label><br>
        <input class="inputText" placeholder="Enter Last name" type="text" [(ngModel)]="lastName" id="lastName" name="lastName"><br><br>

        <label class="accountnumber-left" for="accountNumber">Account Number:</label><br>
        <input class="inputText" placeholder="Enter Account number" type="number" [(ngModel)]="accountNumber" id="accountNumber" name="accountNumber"><br><br>

        <label class="currentbill-left" for="areaNumber">Current Bill:</label><br>
        <input class="inputText" placeholder="Enter Current Bill" type="number" [(ngModel)]="currentBill" id="currentBill" name="currentBill"><br><br>

        <label class="payment-left" for="payment">Payment:</label><br>
        <input class="inputText" placeholder="Enter Payment" type="number" [(ngModel)]="payment" id="payment" name="payment"><br><br>

        <div class="button-container">
          <button class="addPayment" (click) = "addPayment()" *ngIf = "selectedConsumer !== null">Add Payment</button>
          <button class="clearButton" (click) = "clearForm()">Clear</button>
          <script src="billing-inquiry.page.ts" type="module"></script>
        </div>
      </div>

      <div class="column-right">
        <ion-img class="photo-billsummary" src="assets/billsummary.jpg" alt="photo-billsummary"></ion-img>
      </div>
    </div>
  </div>

  <div class = "input-accountnumber">
    <ion-list>
      <ion-item>
        <ion-input id="accountNumber" [(ngModel)]="accountNumber" type="number" placeholder="Account Number"></ion-input>
      </ion-item>
      <ion-button expand="full" shape = "round" color="success" (click)="loadBillSummary()">View Bill Summary</ion-button>
    </ion-list>
    </div>

  <div class = "billsummary-table">
    <h1 class="info">Bill Summary</h1><br>
    <input class = "search-input" type="text" [(ngModel)]="searchText" placeholder="Search">
    <div class = "table-container">
    <table>
      <tr>
        <th class = "entity">Consumer ID</th>
        <th class = "entity">First Name</th>
        <th class = "entity">Last Name</th>
        <th class = "entity">Account Number</th>
        <th class = "entity">Current Bill</th>
        <th class = "entity">Due Date</th>
        <th class = "entity">Status</th>
      </tr>
      <tr *ngFor="let billsummary of filteredConsumers" (click)="populateFields(billsummary)">
        <td class = "consumer-data">{{ billsummary.ConsumerID }}</td>
        <td class = "consumer-data">{{ billsummary.firstName }}</td>
        <td class = "consumer-data">{{ billsummary.lastName }}</td>
        <td class = "consumer-data">{{ billsummary.accountNumber }}</td>
        <td class = "consumer-data">{{ billsummary.currentBill }}</td>
        <td class = "consumer-data">{{ billsummary.dueDate }}</td>
        <td class = "consumer-data">{{ billsummary.status }}</td>
      </tr>
    </table>
    </div>
    <p>Please settle your bills before the due date, thank you!</p><br>
  </div>
    <div class = "payment-link-container">
      <a href="https://www.justpay.to/batelec" class="payment-link">Payment Here</a>
    </div>
    <div class = "file-upload">
    <form>
      <input type="file" name="fileUpload" id="fileUpload">
      <button class = "upload-btn" type="submit">Upload</button>
    </form>
    </div>
</ion-content>
