<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Admin Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitLogin(adminLogin)" #adminLogin="ngForm">
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="username" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
    </ion-item>

<!-- Error message -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>


<!-- Button -->
    <ion-row>
      <ion-col>
        <ion-button (click)="submitLogin(adminLogin)" color="danger" expand="block" [disabled] = "adminLogin.invalid">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
