<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome, Customer Service!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <h1 class = "cooperative-name">Batangas II Electric Cooperative, Inc </h1>
    <ion-img class="photo-cservice" src="assets/photo-cservice.jpg" alt="photo-cservice"></ion-img>
    <br><ion-button [routerLink]="['/customer-service-manage']" shape = "round" expand = "block" color="success">Manage Account Details</ion-button>
  </ion-header>
</ion-content>
