* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Oswald';
}

h1 {
    color: #bfa721;
    display: flex;
    justify-content: center;
}

.mission-vision {
    max-width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    opacity: 90%;
}

.button {
    margin-left: 50px;
    margin-right: 50px;
}