<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome, Consumers!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">interface</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="['/superadmin-payment-module']" expand="block" color="success">Account Details</ion-button><br>
  <ion-button [routerLink]="['/billing-inquiry']" expand="block" color="danger">Current Billing</ion-button><br>
</ion-content>
