<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome, Consumers!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <h1>Batangas II Electric Cooperative, Inc.</h1>
  </ion-header>
  <ion-img class = "mission-vision" src="assets/mission-vision.jpg" alt="mission-vision"></ion-img>
  <div class = "button">
  <br><ion-button [routerLink]="['/superadmin-payment-module']" shape = "round" expand="block" color="success">Account Details</ion-button><br>
  <ion-button [routerLink]="['/billing-inquiry']" shape = "round" expand="block" color="danger">Current Billing</ion-button><br>
  </div>
</ion-content>
