* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Oswald';
}

h1 {
    font-size: 40px;
    color: #bfa721;
    display: flex;
    justify-content: center;
}

.mission-vision {
    max-width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    opacity: 90%;
}

.button {
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 828px) {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}