<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome, Cashier!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class = "background-image">
  <ion-header>
    <h1 class = "cooperative-name">Batangas II Electric Cooperative, Inc </h1>
    <ion-img class="photo-cashier" src="assets/photo-cashier.png" alt="photo-cashier"></ion-img>
    <br><ion-button [routerLink]="['/superadmin-payment-module']" shape="round" expand="block" color="success">Payment Module</ion-button>
  </ion-header>
  </div>
</ion-content>
