* {
	font-family: 'Oswald';
}

.request {
    color: #a08b15;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    margin-left: 15px;
}

.small {
    margin-left: 15px;
}

.fill-up-container {
    background-color: rgb(73, 72, 72);
    padding: 20px;
    border-radius: 10px;
	text-align: justify;
}

.custom-item {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}

.fill-up {
    margin-top: 150px;
}

.background-image {
    position: relative;
}
  
.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-image: url('/assets/photo-superadmin.jpg');
    background-size: cover; 
    background-position: center;
    opacity: 0.3;
}

@media (max-width: 828px) {

	.small {
		font-size: 15px;
	}
}