<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class = "background-image">
    <div class = "container">
  <form>
    <div class = "fill-up">
      <h1 class = "request">Request</h1>
    <div class = "fill-up-container">
    <ion-item lines="full" class = "custom-item">
      <ion-input type="username" [(ngModel)] = "accountNumber" name = "accountNumber" placeholder = "Account No." required></ion-input>
    </ion-item>

    <br><span class = "span">For us to contact you, please provide your email and contact number</span>

    <ion-item lines="full" class = "custom-item">
      <ion-input type="email" [(ngModel)] = "email" name = "email" placeholder = "Email" required></ion-input>
    </ion-item>

    <ion-item lines="full" class = "custom-item">
      <ion-input type="contactNumber" [(ngModel)] = "contactNumber" name = "contactNumber" placeholder = "Contact No." required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button shape = "round" type="submit" color="danger" expand="block" (click) = "submitRequest()">Submit</ion-button>
      </ion-col>
    </ion-row>
    <small class = "small">Please provide the account number that you used when you signed up for your Batelec II account.</small>
  </div>
  </div>
  </form>
  </div>
  </div>
</ion-content>