<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Account Number</ion-label>
      <ion-input type="username" [(ngModel)] = "accountNumber" name = "accountNumber" placeholder = "Account Number" required></ion-input>
    </ion-item>

    <br><span class = "span">For us to contact you, please provide your email and contact number</span>

    <ion-item lines="full"><ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)] = "email" name = "email" placeholder = "Email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contact Number</ion-label>
      <ion-input type="contactNumber" [(ngModel)] = "contactNumber" name = "contactNumber" placeholder = "Contact Number" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button shape = "round" type="submit" color="danger" expand="block" (click) = "submitRequest()">Submit</ion-button>
      </ion-col>
    </ion-row>
    <small class = "small">Please provide the account number that you used when you signed up for your Batelec II account.</small>
  </form>
</ion-content>